<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/css/styles.css" rel="stylesheet">
    <title>Allflights-Book Ticket</title>
  </head>
  <body>
    <div class="top-bar"></div>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="../index.html">Allflights</a>
        <!-- Links -->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="../auth/sign-in.html">|Sign in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../auth/register.html">|Register</a>
          </li>
          <li class="nav-item dropdown dropdown-menu-end">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button">Admin</a>
            <ul class="dropdown-menu dropdown-menu-lg-right">
              <li><a class="dropdown-item" href="#">Schedule Flights</a></li>
              <li><a class="dropdown-item" href="#">Create Seats</a></li>
              <li><a class="dropdown-item" href="#">Ticket list</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    <main>
      <div class="shadow main-outer-div container">
        <h2 style="display: inline;">Book Your Ticket</h2>
        <div class="shadow p-5">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-bs-toggle="tab" href="#contact" id="contact_tab">Contact & Seat</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#passenger" id="passenger_tab">Passenger</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#payment" id="payment_tab">Payment</a>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div class="container tab-pane active" id="contact"><br>
              <h3>Contact & Seat Information</h3>
              <form id="contact_form">
                <div class="row">
                  <div class="col-md-6">
                    <label for="first_name">First Name:</label>
                    <input class="form-control form-control-sm" id="first_name" name="first_name" placeholder="Victor"
                           type="text">
                    <span class="invalid-feedback"> First name is required. </span>
                  </div>
                  <div class="col-md-6">
                    <label for="last_name">Last Name:</label>
                    <input class="form-control form-control-sm" id="last_name" name="last_name" placeholder="Adukwu"
                           type="text">
                    <span class="invalid-feedback"> Last name is required. </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label for="email">Email:</label>
                    <input class="form-control form-control-sm" id="email" name="email" placeholder="abc@xyz.com"
                           type="text">
                    <span class="invalid-feedback"> Email is required. </span>
                  </div>
                  <div class="col-md-6">
                    <label for="phone">Phone Number:</label>
                    <input class="form-control form-control-sm" id="phone" name="phone" placeholder="08012345678"
                           type="text">
                    <span class="invalid-feedback">Phone Number is required. </span>
                  </div>
                </div>

                <div class="row mt-2">
                  <div class="col-md-3">
                    <label for="status">Flight Class:</label>
                    <select class="form-control" id="class">
                      <option value="Economy">Economy</option>
                      <option value="Premium">Premium</option>
                      <option value="Business">Business</option>
                    </select>
                  </div>
                  <div class="col-md-3">
                    <label for="status">Flight Fare:</label>
                    NGN50000.00
                  </div>
                  <div class="col-md-6">
                    <label for="status">Number of Seats:</label>
                    <select class="form-control" id="status">
                      <option value="1">1</option>
                      <option selected value="2">2</option>
                      <option value="4">3</option>
                      <option value="4">4</option>
                    </select>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="form-group col-md-6">
                    Total: NGN100,000.00
                  </div>
                  <div class="form-group col-md-6">
                    <button class="btn float-end" onclick="document.getElementById('passenger_tab').click();" type="button">
                      Continue
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <div class="container tab-pane fade" id="passenger"><br>
              <h3>Passenger(s) Details</h3>
              <form id="passenger_form">
                </br></br>
                <fieldset>
                  <legend>Passenger 1</legend>
                  <div class="row">
                    <div class="col-md-6">
                      <label for="first_name1">First Name:</label>
                      <input class="form-control form-control-sm" id="first_name1" name="first_name1" placeholder="Victor"
                             type="text">
                      <span class="invalid-feedback"> First name is required. </span>
                    </div>
                    <div class="col-md-6">
                      <label for="last_name1">Last Name:</label>
                      <input class="form-control form-control-sm" id="last_name1" name="last_name1" placeholder="Adukwu"
                             type="text">
                      <span class="invalid-feedback"> Last name is required. </span>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-md-6">
                      <label for="gender">Gender:</label>
                      <select class="form-control" id="gender1">
                        <option selected value="Male">Male</option>
                        <option value="Female">Female</option>
                      </select>
                    </div>
                    <div class="col-md-6">
                      <label for="dob">Date of Birth:</label>
                      <input class="form-control form-control-sm" id="dob1" name="dob" type="date">
                      <span class="invalid-feedback"> Date of Birth is required. </span>
                    </div>
                  </div>
                </fieldset>
                </br></br>
                <fieldset>
                  <legend>Passenger 2</legend>
                  <div class="row">
                    <div class="col-md-6">
                      <label for="first_name2">First Name:</label>
                      <input class="form-control form-control-sm" id="first_name2" name="first_name2" placeholder="Dave"
                             type="text">
                      <span class="invalid-feedback"> First name is required. </span>
                    </div>
                    <div class="col-md-6">
                      <label for="last_name2">Last Name:</label>
                      <input class="form-control form-control-sm" id="last_name2" name="last_name2" placeholder="Duke"
                             type="text">
                      <span class="invalid-feedback"> Last name is required. </span>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-md-6">
                      <label for="gender2">Gender:</label>
                      <select class="form-control" id="gender2">
                        <option selected value="Male">Male</option>
                        <option value="Female">Female</option>
                      </select>
                    </div>
                    <div class="col-md-6">
                      <label for="dob2">Date of Birth:</label>
                      <input class="form-control form-control-sm" id="dob2" name="dob2" type="date">
                      <span class="invalid-feedback"> Date of Birth is required. </span>
                    </div>
                  </div>
                </fieldset>
                <div class="row mt-2">
                  <div class="form-group col-md-6">
                    <button class="btn float-start" onclick="document.getElementById('contact_tab').click();" type="button">
                      Go Back
                    </button>
                  </div>
                  <div class="form-group col-md-6">
                    <button class="btn float-end" onclick="document.getElementById('payment_tab').click();" type="button">
                      Continue
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <div class="container tab-pane fade pb-5" id="payment"><br>
              <h3>Payment Details</h3>
              <div class="card shadow-lg mx-auto">
                <div class="card-header text-center">
                  <h4>Book a flight</h4>
                  <small>Pay: NGN100,000.00</small>
                </div>
                <div class="card-body container">
                  <form id="payment_form">
                    <fieldset id="payment_fieldset">
                      <div class="form-group">
                        <label for="card_name">Name on the card: </label>
                        <input class="form-control form-control-sm" formcontrolname="card_name" id="card_name"
                               name="card_name" type="text">
                      </div>
                      <div class="form-group">
                        <label for="card_number">Card Number: </label>
                        <input , class="form-control form-control-sm" id="card_number" name="card_number" type="text">
                      </div>
                      <div class="row">
                        <div class="form-group col-md-6">
                          <label for="card_cvv">Card Cvv: </label>
                          <input class="form-control form-control-sm" id="card_cvv" type="text">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="card_pin">Card PIN: </label>
                          <input class="form-control form-control-sm" id="card_pin" type="number">
                        </div>
                      </div>
                      <div class="form-group">
                        <label>Card Expiry: </label>
                        <div class="row">
                          <div class="col-md-6 form-group">
                            <select class="form-control">
                              <option value="Expiry Month">Expiry Month</option>
                              <option value="01">01</option>
                              <option value="02">02</option>
                              <option value="03">03</option>
                              <option value="04">04</option>
                              <option value="05">05</option>
                              <option value="06">06</option>
                              <option value="07">07</option>
                              <option value="08">08</option>
                              <option value="09">09</option>
                              <option value="10">10</option>
                              <option value="11">11</option>
                              <option value="12">12</option>
                            </select>
                          </div>
                          <div class="col-md-6">
                            <select class="form-control">
                              <option value="Expiry Year">Expiry Year</option>
                              <option value="2022">2022</option>
                              <option value="2023">2023</option>
                              <option value="2024">2024</option>
                              <option value="2025">2025</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="form-check form-group">
                        <input class="form-check-input" id="save_card" name="save_card" type="checkbox">
                        <label class="form-check-label">Save Card</label>
                      </div>
                    </fieldset>
                    <div class="form-check form-group">
                      <input class="form-check-input" id="use_saved_card" name="save_card" onclick="showSavedCards()"
                             type="checkbox">
                      <label class="form-check-label"> Use Save Card</label>
                    </div>
                    <div class="form-group" id="saved_card_select" style="display: none;">
                      <select class="form-control">
                        <option value="1234">MasterCard ending with 1234</option>
                        <option value="2345">Visa Card ending with 2345</option>
                      </select>
                    </div>
                    <div>
                      <button class="btn float-start" type="submit">Submit</button>
                    </div>
                  </form>
                </div>
              </div>
              <div class="form-group mb-5">
                <button class="btn float-start" onclick="document.getElementById('passenger_tab').click();" type="button">Go
                  Back
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <div class="container-fluid fixed-bottom text-center " id="footer">
      &copy Autoticket
      <script>document.write(new Date().getFullYear().toString())</script>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      const showSavedCards = () => {
          const x = document.getElementById("use_saved_card")
          const elt = document.getElementById("payment_fieldset")
          if (x.checked == true) {
              document.getElementById("saved_card_select").style.display = "block"
              elt.style.display = "none"
          } else {
              document.getElementById("saved_card_select").style.display = "none"
              elt.style.display = "block"
          }
      }
  </script>
  </body>
</html>
